[submodule "server"]
	path = server
	url = git@github.com:vitebo/be-the-hero-server.git
[submodule "web"]
	path = web
	url = git@github.com:vitebo/be-the-hero-web.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:vitebo/be-the-hero-mobile.git
